<% if @card.errors.any? %>
<ul>
	<% @card.errors.full_messages.each do |err| %>
	<li><%= err %></li>
	<% end %>
</ul>
<% end %>


<%= form_for @card do |c| %> 

	<%= c.label :question %> 
	<%= c.text_field :question %> 

	<%= c.label :answer %>
	<%= c.text_area :answer %>

	<%= c.submit %>

<% end %>